.fade-in-image {
	opacity: 50%;
}

.fade-in-image:hover {
	opacity: 100%;
	transition: opacity 2s;
}

.fade-in-text {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(35, 226, 226);
	animation: fadeIn linear 7s;
	-webkit-animation: fadeIn linear 7s;
	-moz-animation: fadeIn linear 7s;
	-o-animation: fadeIn linear 7s;
	-ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body,
html,
h1 {
	margin: 0;
	padding: 0;
}
#h1 {
	color: white;
	font-size: 4rem;
	text-align: center;
}
#section {
	height: 100vh;
}

.tag {
	opacity: 0;
	transform: translate(0, 10vh);
	transition: all 1s;
}

.tag.visible {
	opacity: 1;
	transform: translate(0, 0);
}

.one {
	background-color: black;
	background-size: cover;
}
.two {
	background-color: black;
	background-size: cover;
}
.three {
	background-color: black;
	background-size: cover;
}
/*
.green {
	background-color: lightgreen;
}
*/
#span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4rem;
	font-weight: bold;
}
.main-body {
	padding: 15px;
	border: #fdfdfd;
}
.card {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(255, 255, 255, 0.06);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: rgb(0, 0, 0);
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, 0.959);
	border-radius: 0.25rem;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1rem;
}

.gutters-sm {
	margin-right: -8px;
	margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
	padding-right: 8px;
	padding-left: 8px;
}
.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.bg-gray-300 {
	background-color: #e2e8f0;
}
.h-100 {
	height: 100% !important;
}
.shadow-none {
	box-shadow: none !important;
}
.timeline {
	border-left: 3px solid #727cf5;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background: rgba(114, 124, 245, 0.09);
	margin: 0 auto;
	letter-spacing: 0.2px;
	position: relative;
	line-height: 1.4em;
	font-size: 1.03em;
	padding: 50px;
	list-style: none;
	text-align: left;
	max-width: 40%;
}

@media (max-width: 767px) {
	.timeline {
		max-width: 98%;
		padding: 25px;
	}
}

.timeline h1 {
	font-weight: 300;
	font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 10px;
}

.timeline .event {
	border-bottom: 1px dashed #e8ebf1;
	padding-bottom: 25px;
	margin-bottom: 25px;
	position: relative;
}

@media (max-width: 767px) {
	.timeline .event {
		padding-top: 30px;
	}
}

.timeline .event:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.timeline .event:before,
.timeline .event:after {
	position: absolute;
	display: block;
	top: 0;
}

.timeline .event:before {
	left: -207px;
	content: attr(data-date);
	text-align: right;
	font-weight: 100;
	font-size: 0.9em;
	min-width: 120px;
}

@media (max-width: 767px) {
	.timeline .event:before {
		left: 0px;
		text-align: left;
	}
}

.timeline .event:after {
	-webkit-box-shadow: 0 0 0 3px #727cf5;
	box-shadow: 0 0 0 3px #727cf5;
	left: -55.8px;
	background: #fff;
	border-radius: 50%;
	height: 9px;
	width: 9px;
	content: "";
	top: 5px;
}

@media (max-width: 767px) {
	.timeline .event:after {
		left: -31.8px;
	}
}

.rtl .timeline {
	border-left: 0;
	text-align: right;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
	left: 0;
	right: -170px;
}

.rtl .timeline .event::after {
	left: 0;
	right: -55.8px;
}

.card-wrapper {
	position: relative;
	overflow: hidden;
}
.card-wrapper .card-img {
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
}
.card-wrapper .card-img img {
	transition: all 0.3s ease-in-out;
	border-radius: 0.25rem;
	border-radius: 0.25rem;
}
.card-wrapper .card-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	padding: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	transform: translateX(-100%);
	transition: 0.8s;
	z-index: 11;
}
.card-wrapper:before {
	content: "";
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	right: 100%;
	z-index: 9;
	transition: 0.8s;
	background: rgba(0, 186, 238, 0.82);
	border-radius: 0.25rem;
}
.card-wrapper:hover:before {
	right: 0;
}
.card-wrapper h3,
.card-wrapper p {
	color: #fff;
}
.card-wrapper .read-more {
	color: #fff;
}
.card-wrapper .read-more:after {
	color: #fff;
}
.card-wrapper:hover .card-body {
	visibility: visible;
	transform: translateX(0px);
}
.card-wrapper:hover .backgound-color {
	right: 0;
}

.mb-1-9,
.my-1-9 {
	margin-bottom: 1.9rem;
}
@media (min-width: 992px) {
	.mb-lg-0,
	.my-lg-0 {
		margin-bottom: 0 !important;
	}
}
.read-more:after {
	content: "\f0a9";
	font-family: Font awesome\5 Free;
	font-weight: 600;
	padding-left: 8px;
	font-weight: 900;
	color: #00baee;
	vertical-align: middle;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
